body{
    color:black;
    background: darkviolet;
    margin:0px
}

header{
    border-bottom: solid 4px black;
    padding: 20px;
    font-size: 32px;
    color:hotpink
}

section{
    background: rgb(darkblue)
}
